@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Outfit';
}

.active hr.bg-primary {
    @apply block;
  background-color: #5f6FFF;
  border: none;
  outline: none;
  width: 60%;
height: 0.5;
    
}
.bg-primary{
    @apply bg-[#5f6FFF];
}

::-webkit-scrollbar {
  @apply hidden;
}